/* Reset CSS */ /* ALT + SHIFT + A = Comentario */
* {
  margin: 0; /* Margem Externa */
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bbbbbb;
}

header {
  /* FLEXBOX */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem; /* 1 rem = 16 pixels */
  border-bottom: 0.1px solid #000;
  position: fixed;
}

/* nav */
.menu-desktop {
  display: none;
}





















/* Responsividade */
/* A partir de 768 voltar tela em flex */
@media (min-width: 768px) {
  .menu-desktop {
    display: flex ;
  }
}
